.player-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .player-image {
    width: 100px; 
    height: 100px; 
  }

  .player-card {
    flex: 0 0 calc(33.33% - 20px); 
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  }
  
  .player-card img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image round */
    margin-bottom: 10px;
  }
  
  .player-card h4 {
    font-size: 14px; 
    margin-bottom: 5px;
  }
  
  .player-card p {
    font-size: 12px; 
    margin: 0;
  }
  .player-card a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
  
  .player-card a:hover {
    color: #007bff;
  }
  
  .team-details-container {
    background-color: #f0f0f0; 
    padding: 20px;
  }
  
  .team-details {
    margin: 0 auto; 
    max-width: 600px; 
  }
  
  .team-info {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .team-info > div {
    text-align: center; 
  }
  
  .team-icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto; 
  }

  .team-details-heading {
    color: #0026ff; 
  }


  

.team-details-list {
  list-style: none;
  padding: 0;
}

.team-details-list li {
  background-color: rgba(240, 240, 240, 0.8); /* Slightly visible background color */
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1); /* Slightly visible border */
}

.detail-label {
  font-weight: bold;
  margin-right: 10px;
}

  