.navbar-text {
    display: flex;
    align-items: center; 
  }
  
  .text-right {
    margin-left: auto;
    font-weight: 800;
  }
  
  .logout-button {
    margin-left: 10px; 
  }
  a{
    font-size: 20px;
}

.navbar-brand .text-white {
    color: white; 
  }
  
  .navbar-brand .text-white:hover {
    color: white; 
  }

  .dashboard-link {
    color: white; 
    font-weight: bold; 
  }
  
  .dashboard-link:hover {
    color: white; 
    font-weight: bold; 
  }